/* Common */

body {
	color: #42444E;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-position: inside;
}

input,
select,
a.button
{
	height: 35px;
	line-height: 35px;
	box-sizing: border-box;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
a.button
{
	display: inline-block;
	padding: 0 15px;
	text-align: center;
	text-decoration: none;
	border: none;
	color: #FFFFFF;
	background-color: #16A085;
}



/* Layout */

html,
body
{
	height: 100%;
}


.header,
.container,
.panel,
.content
{
	box-sizing: border-box;
	/*transition: 0.5s ease-in-out all;*/
}


.header {
	position: relative;
	z-index: 2;
}

.container {
	height: 100%;
}

.content {
	height: 100%;
	overflow-x: hidden;
	background-color: #FFFFFF;
}

.panel {
	position: relative;
	overflow-x: hidden;
	z-index: 1;
}

@media only screen and (max-width: 400px) {
	.header {
		height: 55px;
	}

	.container {
		margin-top: -55px;
		padding-top: 55px;
	}

	.panel {
		position: absolute;
		top: 55px;
		left: 0;
		width: 100%;
		max-height: 75%;
	}
}

@media only screen and (min-width: 401px) and (max-width: 700px) {
	.header {
		height: 55px;
	}

	.container {
		margin-top: -55px;
		padding-top: 55px;
	}

	.panel {
		position: absolute;
		top: 55px;
		left: 0;
		bottom: 0;
	}

	.content {
		margin-left: 55px;
	}	
}

@media only screen and (min-width: 701px) {
	.header {
		height: 100px;
	}

	.container {
		margin-top: -100px;
		padding-top: 100px;
	}

	.panel {
		float: left;
		height: 100%;
		width: 250px;
	}

	.content {
		height: 100%;
		margin-left: 250px;
	}
}


/* Header */

.header {
	position: relative;
	background-color: #CECFD5;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.header:after {
	content: "";
	display: block;
	clear: both;
}

.header .logo {
	margin: 0;
	float: left;
}

.header .toggle {
	float: left;
	color: #42444E;
	font-size: 32px;
	height: 55px;
	width: 55px;
	line-height: 55px;
	text-align: center;
}

.header .toggle .label {
	display: none;
}

.header .controls {
	float: right;
	padding: 10px;
}

@media only screen and (max-width: 400px) {
	.header .controls .button {
		padding: 0;
	}

	.header .controls .button:before {
		width: 35px;
		height: 35px;
		line-height: 35px;
		font-size: 28px;
	}

	.header .controls .button .label {
		display: none;
	}
}




/* Panel */

.panel {
	padding: 10px;
	background-color: #42444E;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.panel.left {

}


.panel.right {

}

@media only screen and (max-width: 400px) {
	.panel {
		display: none;
	}

	.panel.active {
		display: block;
	}
}



/* Menu */

.menu {

}

.menu .item {
	display: block;
	height: 35px;
	line-height: 35px;
	white-space: nowrap;
	text-decoration: none;
	color: #FFFFFF;
	border-bottom: 1px solid #6E6F75;
}

.menu .item:last-child {
	border-bottom: none;
}

.menu .item:before {
	height: 35px;
	width: 35px;
	line-height: 35px;
	font-size: 28px;
	text-align: center;
	vertical-align: middle;
	color: #CECFD5;
}

.menu .item.current {
	background-color: rgba(255, 255, 255, 0.25);
}

.menu .item .label {
	display: inline-block;
	padding-right: 10px;
}

@media only screen and (min-width: 401px) and (max-width: 700px) {
	.panel .menu .item .label {
		display: none;
	}

	.panel.active .menu .item .label {
		display: inline-block;
	}
}



/* Content */

.content {
	padding: 15px;
	height: 100%;
}



/* Breadcrumbs */

.breadcrumbs {
	margin-bottom: 10px;
}

/* Item list */

.list {
	/*display: inline-block;*/
	counter-reset: item;
}

.list .item {
	/*float: left;
	width: 200px;*/
	height: 200px;
	line-height: 200px;
	font-size: 60px;
	margin: 10px 0;
	text-align: center;
	color: #FFFFFF;
	background-color: #cecfd5;
}

.list .item:before {
	content: counter(item) ""; 
	counter-increment: item;	
}

@media only screen and (min-width: 401px) and (max-width: 700px) {
	.list .item {
		float: left;
		width: 49%;
		margin-top: 0;
		margin-bottom: 2%;
	}

	.list .item:nth-child(2n) {
		margin-left: 2%;
	}

}