<nav class="breadcrumbs">
	<a href="">Home</a>
	>
	<a href="">Themes</a>
	>
	<a href="">Collections</a>
	>
	<a href="">Public</a>
</nav>

<h2>Collection name</h2>

<pre>{{resources.list | json}}</pre>


<ul class="list resources">
	<li class="item" ng-repeat="resource in resources.list">
		<h3>{{resource.title}}</h2>
		<img ng-src="{{resource.poster}}" />
	</li>
</ul>

<input type="button" value="Load more" />