<!DOCTYPE html>
<html ng-app="collector">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Common styles -->
		<link rel="stylesheet" type="text/css" href="common/css/ionicons.css" />
		<link rel="stylesheet" type="text/css" href="common/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="common/css/styles.css" />

		<!-- Angular and third party libs -->
		<script type="text/javascript" src="common/js/lib/angular.min.js"></script>
		<script type="text/javascript" src="common/js/lib/angular-route.min.js"></script>
		<script type="text/javascript" src="common/js/lib/angular-animate.min.js"></script>

		<!-- App definition and setup -->
		<script type="text/javascript" src="app.js"></script>
		<script type="text/javascript" src="config.js"></script>

		<!-- Common components: services -->
		<script type="text/javascript" src="common/js/services/loader.js"></script>

		<!-- Common components: directives -->
		<script type="text/javascript" src="common/js/directives/indicator.js"></script>
		<script type="text/javascript" src="common/js/directives/bread-crumbs.js"></script>

		<!-- Common components: controllers -->
		<script type="text/javascript" src="common/js/controllers/main.js"></script>

		<!-- Pages: resources -->
		<link rel="stylesheet" type="text/css" href="/resources/resources.css" />
		<script type="text/javascript" src="/resources/resources.js"></script>
		<script type="text/javascript" src="/resources/config.js"></script>
	</head>
	
	<body ng-controller="Main as app">
		<!-- Header -->
		<header class="header">
			<a href="" class="toggle ion-navicon-round" ng-click="app.menu.toggle()">
				<span class="label">Menu</span>
			</a>

			<div class="controls">
				<a href="" class="button ion-search">
					<span class="label">Search</span>
				</a>

				<a href="" class="button ion-upload">
					<span class="label">Upload</span>
				</a>

				<a href="" class="button ion-android-exit">
					<span class="label">Logout</span>
				</a>
			</div>
		</header>
		<!-- /Header -->

		<div class="container">
			<!-- Main menu -->
			<aside class="panel left {{app.menu.active ? 'active' : 'inactive'}}">
				<nav class="menu">
					<a href="" class="item ion-stats-bars">
						<span class="label">Statistics</span>
					</a>

					<a href="" class="item ion-film-marker">
						<span class="label">Themes</span>
					</a>

					<a href="" class="item ion-filing">
						<span class="label">Collections</span>
					</a>

					<a href="" class="item ion-gear-a">
						<span class="label">Settings</span>
					</a>
				</nav>
			</aside>
			<!-- /Main menu -->

			<!-- Content -->
			<div class="content" ng-view></div>
			<!-- Content -->
		</div>
	</body>
</html>